
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    margin: 0 auto;     /* Centra el cuerpo horizontalmente */
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    width: 97%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f7efef;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}
.logo {
height: 40px;  
}

.nav {
    flex: 1;
    text-align: right;
}

.barnav {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: flex-end;
}

.barnav li {
    margin-left: 20px;
    height: 40px;  
    display: flex;
    align-items: center;
}

.barnav a{
    text-decoration: none;
    font-weight: bold;
}

.barnav a:hover {
    color: #0a0a0a;
}

h1.title-article {
    text-align: center;
    color: #333;
    margin-top: 20px;
    padding: 30px;
}
/*Menu*/
.menu a{
    margin: 1em;
    color: rgb(22, 22, 22);
    text-decoration: none;
}

.menu:hover{
    margin: .5em;
    background-color: rgb(142, 230, 215);
    color: rgb(23, 24, 24);
    transition: all;
}

.formaCo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    max-height: 8000px;
}

.register-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
    width: 100%;
    max-width: 200px;
    max-height: 8000px;
}

.container {
    background-color: rgb(224, 221, 226);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
    width: 100%;
    max-width: 400px;
    max-height: 8000px;
}

.register-container {
    background-color: white;
}

.mensaje {
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.form-option label {
    display: flex;
    align-items: center;
    color: #666;
}

.form-option .Recordatorio {
    color: #0066cc;
    text-decoration: none;
}

.btn-inicioSesion, .btn-Registrarse {
    width: 100%;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn-inicioSesion {
    background-color: #4CAF50;
}

.btn-Registrarse {
    
    background-color: #00a1e4;
}


/* footer*/
.footer {
    background-color: #080808;
    color: #fff;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.footer-heading {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease; /* Agregamos una transición suave al cambio de color */
}

.footer-links li a:hover {
    color: #ffa500; /* Cambiamos el color al pasar el mouse sobre los enlaces */
}

/* Estilos para la fila */
.row {
    width: 100%;
  }
  
  /* Estilos para las columnas */
.col-md-6 {
    position: relative;
    width: 100%; /* El ancho de la columna será del 100% */
  }
  
  /* Estilos para los créditos */
  .sydney-credits {
    font-size: 14px;
    color: #fff; /* Texto blanco */
    background-color: #000; /* Fondo negro */
    padding: 10px; /* Espaciado interno */
    width: 100%; /* Ancho igual al 100% */
    text-align: center;
    height: 100%;
  }
  
  


