/* a todo el documento*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
       /* Estilo para body */
       body {
        padding-top: 60px; /* Ajusta según la altura de tu navbar */
        width: 100%;
        height: 100%;
        background-color: rgb(244, 247, 247);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    /* Estilos para el menú desplegable */
    .contact-bar1 {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        top: 100%; /* Colocar justo debajo del menú */
        left: 0;
        width: 227px; /* Ajustar el ancho según tus necesidades */
    }

    .contact-bar1 button {
        background-color: #75dddd;
        color: rgb(19, 18, 18);
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        display: block;
        margin: 5px 0;
        width: 100%;
        text-align: left;
    }

    .contact-bar1 button:hover {
        background-color: #e9f8f1;
        color: rgb(11, 12, 12);

    }

    .menu:hover .contact-bar1 {
        display: block;
    }

    .header {
        display: flex;
        position: fixed;
        top: 0;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: #f7efef;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }

    .logo {
        height: 40px;  
    }

    .nav {
        flex: 1;
        text-align: right;
    }

    .barnav {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
    }


.barnav li {
    margin-left: 20px;
    height: 40px;  
    display: flex;
    align-items: center;
    position: relative; /* Asegura que los submenús se posicionen correctamente */
}

.barnav a{
    text-decoration: none;
    font-weight: bold;
}

.barnav a:hover {
    color: #0a0a0a;
}

/*Menu*/
.menu a{
    margin: 1em;
    color: rgb(22, 22, 22);
    text-decoration: none;
}

.menu:hover{
    margin: .5em;
    background-color: rgb(142, 230, 215);
    color: rgb(23, 24, 24);
    transition: all;
}

/* Banner*/
.banner{
    width: 100%;
    height: 30px;
    background-color: rgb(162, 238, 234);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}
.contact-bar {
    display: none;
    position: absolute;
    top: calc(100% + 10px); /* Aparecerá justo debajo del botón de contacto */
    left: 0;
    width: auto;
    background-color: #444;
    color: white;
    padding: 10px;
    z-index: 1000;
}
.imagenes{
    display: flex;
    width: 100%;
    height: 90%;
}

.imagenes img{
    width: 100px;
    height: 400px;
    flex-grow: 1;
    object-fit: cover;
    opacity:.8;
    transition: .5s ease;
    max-width: 100%;/*la imagen nunca va a ser mas grande que el contenedor*/
    display: block;/*asegura que la imagen no tenga un margen extra*/  
}
.imagenes img:hover{
    cursor: default;
    width: 300px;
    opacity: 2;
    filter: contrast(120%);

}

/*Titulo de banner*/
.title-banner{
    margin: 5px;
    font-size: 3em;
    display: block;

}

.title-text{
    font-size: 1.2em;
    padding: 3em;
}

/*btn-banner*/
.btm-banner{
    background-color: rgb(202, 72, 72);
    text-decoration: none;
    padding: 1em 4em;
    color: aliceblue;
    font-size: 1.25em;
    margin: 1em;
    border-radius: 0.5em;
    max-width: 100%;
}
.btm-banner:hover{
    background-color: rgb(250, 248, 245);
    color: rgb(11, 12, 12);
    transition: all;
}






/* Elkin estuvo aqui xdddd*/
/* article*/

.article {

    margin: 3em;
    width: 900%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    gap: 20px;
    background-color: #d0f1fb;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    
}

.event{
    margin: 3em;
    width: 50%;
    height: auto;
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    gap: 20px;
}

.articulo-Confe{
    display: flex;
    flex-wrap: wrap;
}

.box-galery1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container {
    width: 350px; /* Ancho fijo */
    height: 250px; /* Alto fijo */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del contenedor */
}

.box-img1 {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para que cubra todo el contenedor */
}

.btm-img {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    text-align: center;
}

.btm-img:hover {
    background-color: rgb(255, 230, 0);
    color: rgb(35, 35, 35);
    transition: 0.5s;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-article {
    font-size: 2em;
    margin: 10px 0 10px 0;
    padding: 0;
}

.title-articleDerecha {
    font-size: 2em;
    margin: 10px 0 10px 0;
    padding: 0;
    text-align: right;
}

.fecha-autores {
    font-style: italic;
    font-size: 1.3em;
    margin: 0 0 25px 0;
    padding: 0;
    color: red;
}

.fecha-autoresDerecha{
    font-style: italic;
    font-size: 1.3em;
    margin: 0 0 25px 0;
    padding: 0;
    color: red;
    text-align: right;
}

.paragraph-article {
    font-size: 1.5em;
    margin: 10px;
    padding: 0 0 50px 0;
    text-align: justify;
}

.clasificacion {
    color: #c50000;
    border-bottom: 1px solid #000000; /* Agregar línea debajo del texto */
    padding: 5px;
}

.clasificacionDerecha {
    color: #c50000;
    text-align: right;
    border-bottom: 1px solid #000000; 
    padding: 5px;/* Agregar línea debajo del texto */
}

.content-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px; /* Añade espacio entre la imagen y el texto */
}
.article-img {
    width: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-galery:hover{
    border: 1px solid rgb(34, 188, 20);
    transform: rotate(-3deg);
    width: 250px;
    height: 100%;
}
.galery{
    width: 80%;
    height: 50%;
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-galery{
    width: 24%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-img{
    width: 100%;
    height: 100%;
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    float: left;
}

.box-img-inner {
    position: relative;
    width: 100%;
    height: 300px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.box-img-front,
.box-img-back {
    position: absolute;
    width: 250px;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border: 1px solid rgb(34, 188, 20);
    transform: rotate(-3deg);
    
}

.box-img-front {
    z-index: 2;
    transform: rotateY(0deg);
}

.btm-img{
    background-color: brown;
    flex-direction: none;
    padding:0.5em 3em;
    color: rgb(255, 255, 255);
    font: size 1.25em; 
    margin: 1em;
    border-radius: 0.5em;
    transition: transform 0.5s; /**/
}

.box-img img{
    object-fit: cover;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 20px;
    box-shadow: 1px 2px 2px lightskyblue, 0 6px 20px 0 rgb(11, 12, 12);
    float: left;   
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(194, 103, 0);
    font-size: 1.5em;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
    width: 250px;
    height: 100%;
}

.box-galery:hover .overlay-text {
    opacity: 1;
}

.box-img-back {
    background-color: rgb(248, 248, 248);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
}

.box-img:hover .box-img-inner {
    transform: rotateY(180deg);
}

/* footer*/
.footer {
    background-color: #000;
    color: #fff;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.footer-heading {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease; /* Agregamos una transición suave al cambio de color */
}

.footer-links li a:hover {
    color: #ffa500; /* Cambiamos el color al pasar el mouse sobre los enlaces */
}

/* Estilos para la fila */
.row {
    width: 100%;
  }
  
  /* Estilos para las columnas */
.col-md-6 {
    position: relative;
    width: 100%; /* El ancho de la columna será del 100% */
  }
  
  /* Estilos para los créditos */
  .sydney-credits {
    font-size: 14px;
    color: #fff; /* Texto blanco */
    background-color: #000; /* Fondo negro */
    padding: 10px; /* Espaciado interno */
    width: 100%; /* Ancho igual al 100% */
    text-align: center;
  }

